<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2023 Pixel Développement
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pixel_open_cloudflare_turnstile>
            <frontend>
                <enabled>0</enabled>
                <theme>light</theme>
                <size>normal</size>
            </frontend>
            <adminhtml>
                <enabled>0</enabled>
                <theme>light</theme>
                <size>flexible</size>
            </adminhtml>
        </pixel_open_cloudflare_turnstile>
    </default>
</config>
