<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2023 Pixel Développement
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="PixelOpen\CloudflareTurnstile\Observer\Frontend\Validate">
        <arguments>
            <argument name="reviewSession" xsi:type="object">Magento\Review\Model\Session</argument>
        </arguments>
    </type>
    <preference for="PixelOpen\CloudflareTurnstile\Model\Turnstile\ConfigProviderInterface" type="PixelOpen\CloudflareTurnstile\Model\Turnstile\Frontend\ConfigProvider" />
</config>
