<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2022 Pixel Développement
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="cloudflare_turnstile_server_validation" instance="PixelOpen\CloudflareTurnstile\Observer\Validate" />
    </event>
</config>
